 body{
  overflow-x: hidden !important;
 }
 .topbar {
   height: 30px; 
 }


 .mycolor {
   background-color: #171a29;
 }

 .btncolor {
   color: #f36046;
 }

 .bggcolor {
   background-color: #f36046;
 }

 .email, .location{
    font-size: 13px;
}

.social-icons{
  display: flex;
  justify-content: end;
  gap: 13px;
  margin-top: 5px;
  margin-right: 220px;
}

.topNavIcon{
  text-decoration: none !important;
  color: white;
}

 .button {
   height: 30px;
   width: 150px;
 }

 .pdd {
   padding-right: 100px;
 }

 .navbarcl {
   background-color: transparent !important;
 }

 /* Navbar */
 .cart-count {
   position: absolute;
   top: -5px;
   right: -10px;
   background: red;
   color: white;
   border-radius: 50%;
   font-size: 10px;
   padding: 2px 5px;
 }

 .font {
   color: #f36046;
   font-size: 35px;
   font-weight: bold;
 }

 .btn1 {
   background-color: #f36046;
   color: white;
   border-radius: 20px;
   border: 1px solid #f36046;
 }

 .nav-item{
    color: #000;
     cursor: pointer;
 }
 .nav-item:hover{
        color: #E65100;
        transition: 0.5s;
 }

 /* slider */
 body {
   background: #F2F6F7;
 }

 .ic {
   color: #f36046;
   font-size: 30px;
 }

 p i{
  color: #f36046;
  margin-right: 5px;
 }

 .typewriter {
   font-size: 50px;
   font-weight: bold;
   color: black;
   line-height: 70px;
   margin-bottom: 30px;
 }

 .btn {
   background-color: #f36046;
   color: white;
   font-size: 15px;
 }

 .sliderP{
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px;
 }

 .sliderPLower{
  height: 50px;
  width: 600px;
  box-sizing: border-box;
  padding-left: 20px;
  border-left: 2px solid grey;
  font-size: small; 
    color: grey;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
 }

 .sliderBtn{
  height: 50px;
  width: 200px;
  background-color: #f36046;
  color: white;
  font-size: 15px;
  transition: 1s;
  &:hover{
    background-color: #f36046;
    color: black;
    transition: 1s;
  }
 }

 /* counter */

 .counter{
     margin-top: 50px;
 }

 .counter-img {
   height: 60px;
   margin-bottom: 10px;
 }

 .counter-number {
   font-size: 30px;
   font-weight: bold;
   color: #0b1f1e;
   margin: 0;
 }

 .counter-text {
   font-size: 14px;
   color: #6c757d;
   margin: 0;
 }

 /* Services */

 .slider {
   height: 450px;

 }

 .sliderdiv {
   padding-top: 100px;
   padding-left: 60px;
   color: white;
 }

 .mycolor1 {
   color: #f36046;
 }

 .mycolor2 {
   color: #1b1e34;
 }

 .sliderp {
   border-left: 2px solid black;
   padding-left: 10px;
 }

 .sliderimg {
   height: 450px;
 }

 .serviceCard{
  box-sizing: border-box;
  transition: 0.5s;
 }
 .serBtn{
    text-decoration: none;
    color: rgba(96, 95, 95, 0.7);
    font-size: 13px;
    font-weight: bold;
}

.serviceCard:hover{
    transition: 0.5s;
    border-bottom: 4px solid #f36046 !important;
    .serBtn{
        color: #f36046;
    }
        

}
.serP{
  color: rgb(67, 67, 67);
}

 /* property */

 .property {
   min-height: 300px;
 }

 .featuredp {
   color: grey;
 }

 .propertyCard{
  min-height: 500px !important;
 }

 

 .featuredimg {
   height: 250px;
 }

 .listingDes{
  height: 80px;
  width: 280px;
 }

 .cardImgProperty{
    border-radius: 0 !important;
}

 .cardImgDiv {
      position: relative;
      box-shadow: inset 0 -3px 10px black;
    }

    .cardImgDiv img {
      width: 100%;
      display: block;
    }
 .badge {
      position: absolute;
      top: 10px;
      right: 10px;
      background: #4caf50;
      color: white;
      padding: 5px 10px;
      font-size: 0.8rem;
      border-radius: 3px;
      font-weight: bold;
    }

    .locationProperty {
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: #fff;
      background: rgba(0, 0, 0, 0.3);
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 9px;
    }

    .image-icons {
      position: absolute;
      bottom: 13px;
      right: 8px;
      display: flex;
      gap: 10px;
      height: 20px;
      width: 80px;
      color: white;
    }

    .iconDiv{
        display: flex;
        align-items: center;
        gap: 3px;
      height: 20px;
      width: 70px;
      justify-content: center;
      color: white;
      background: rgba(247, 244, 244, 0.5);
      padding: 5px;
      font-size: 10px;
    }

    .innerCardPrice{
    font-size: 10px;
    font-weight: 400;
}

.btnPropertyD{
    height: 40px;
    width: 100px;
    margin: 0 auto;
    background-color: #383737 !important;
    color: white;
    border-radius: 0.5rem;
    margin-top: 10px;
    background-color: white;
    transition: 1s;
    font-weight: bold;
    &:hover{
        color: white;
        background-color: #f36046;
        border: none;
    }
}

.btnPropertyE{
  height: 40px;
    width: 100px;
    margin: 0 auto;
    border: 1.5px solid #f36046;
    background-color: #f36046 !important;
    color: white;
    border-radius: 0.5rem;
    margin-top: 10px;
    background-color: white;
    transition: 1s;
    font-weight: bold;
    &:hover{
        color: white;
        background-color: #f36046;
        border: none;
    }

}


 /* Animities */

 .cardic {
   height: 80px;
   width: 75px;
   text-align: center;
   line-height: 50px;
   margin: 0px auto;
   font-size: 35px;
   background: #FFCCBC;
   border-radius: 50%;
   padding: 5px;
   color: #f36046;
 }

 .boxbtn {
   position: relative;
 }

 .cardbtn {
   position: absolute;
   height: 50px;
   width: 50px;
   border: 1px solid grey;
   border-radius: 50%;
   bottom: -30px;
   font-size: 40px;
   line-height: 40px;
   text-align: center;
   background: #ffffff;
   left: 100px;
 }

 /* Aminities */

 .amenity-icon {
   width: 60px;
   height: 60px;
   background-color: #ffece7;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto 15px auto;
   font-size: 30px;
 }

 .icons {
   color: #f36046;
 }

 .amenity-card {
   background-color: #fff;
   border-radius: 15px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
   padding: 20px;
   text-align: center;
   transition: 0.3s;
 }

 .amenity-card:hover {
   transform: translateY(-5px);
   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
 }

 .arrow-btn {
   font-size: 20px;
   color: #000;
   border: none;
   background: none;
 }

 .section-title {
   font-weight: bold;
   font-size: 32px;
 }

 .tagline {
   background-color: #f3e6e4;
   color: #f36046;
   padding: 5px 15px;
   border-radius: 20px;
   display: inline-block;
   font-weight: 600;
   margin-bottom: 10px;
 }

 /* Testimonial */

 .background {
   background-image: url("/img/20.jpg copy.jpeg");
   background-size: 100%;
 }

 .feedimg {
   border-radius: 50%;
   height: 60px;
   width: 60px;
   margin-left: 30px;
 }

 .color1 {
   color: #6c757d;
   font-size: 10px;
 }


 /* footer */

 .footer {
   background-color: #0f1123;
   padding: 50px 40px 30px;
 }

 .footer h5 {
   font-weight: 600;
   margin-bottom: 20px;
 }

 .footer a {
   display: block;
   color: #ccc;
   text-decoration: none;
   margin-bottom: 8px;
   font-size: 14px;
 }

 .footer a:hover {
   color: #fff;
 }

 .footer p {
   color: #ccc;
   font-size: 14px;
 }

 .footer .footer-icon i {
   color: #ccc;
   margin-right: 10px;
 }

 .subscribe-input {
   width: 100%;
   padding: 8px 10px;
   border: none;
   border-radius: 4px 0 0 4px;
 }

 .subscribe-btn {
   border: none;
   background-color: #ff5722;
   color: white;
   padding: 8px 14px;
   border-radius: 0 4px 4px 0;
 }

 .payment-icons img {
   max-height: 45px;
   width: 100%;
   margin-right: 10px;
 }

 .footer-bottom {
   background-color: #1b1e34;
   color: #ccc;
   font-size: 13px;
   padding: 15px 20px;
 }

 .footer-bottom a {
   color: #ccc;
   text-decoration: none;
   margin-left: 15px;
 }

 .footer-bottom a:hover {
   color: #fff;
 }

 .logo {
   font-size: 26px;
   font-weight: bold;
   color: #f36046;
 }

 .logo-icon {
   color: #f36046;
   margin-right: 8px;
 }

 /* registration */

 .form-box {
   background: #fff;
   border-radius: 10px;
   padding: 30px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
 }

 h2 {
   color: #f36046;
   font-weight: 600;
   margin-bottom: 30px;
 }

 .form-control:focus {
   box-shadow: none;
   border-color: #f36046;
 }

 .btn-register {
   color: white;
   border: 1px solid #f36046;
 }

 .btn-register:hover {
   background-color: #f36046;
   color: #fff;
 }

 /* login */
 
 .login-box {
   max-width: 500px;
   margin: auto;
   background: #fff;
   border-radius: 10px;
   padding: 30px;
   box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
 }

 .login-title {
   text-align: center;
   color: #f36046;
   margin-bottom: 30px;
   font-weight: 600;
 }

 .form-control:focus {
   border-color: #f36046;
   box-shadow: none;
 }

 .btn-login:hover {
  box-shadow: 0px 0px 5px black;
   background-color: #f36046 !important;
   color: white !important;
 }

 /* Contact US */

 .contactMessage{
   height: 100px !important;
 }

 textarea {
  resize: none !important;
}

/* About Section */

.aboutDiv{
  min-height: 500px;
}

.headAbout{
  color: #000;
  font-weight: bold;
   font-size: 32px;
}

.aboutP{
  color: grey;
  font-size: 15px;
}

.aboutImgDiv{
  min-height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.leftImgDiv{
  height: 480px;
  overflow: hidden;
}

.leftImgDiv1{
  height: 233px;
  overflow: hidden;
}

.headNot{
  font-size: 250px;
}

.headNot1{
  font-size: 100px;
}
